thead {
  text-align: -webkit-center;
}

th {
  border-radius: 5px 0 0 5px;
}

td:last-child {
  border-radius: 0 5px 5px 0;
}

.row > .fa {
  width: auto;
}

table {
  margin-left: 20px;
}

.btn {
  border-color: rgb(179, 156, 156) !important;
  border-radius: 0 !important;
}
